<%- include('./partials/head') %>

    <main>
        <div class="card-container">
            <div class="card-inner">


                <!-- Front of card -->
                <div class="card-front">
                    <div class="img-container">
                        <img class="avatar" src="<%- avatar %>" alt="avatar">
                    </div>

                    <div class="full-name">
                        <p class="first-name"><%- name %><p>
                        <p>
                            <span class="prefix"><%- prefix %></span>
                            <span class="last-name"><%- surname %></span>
                        </p>
                    </div>

                    <div class="logos">
                        <a class="logo" href="https://github.com/<%- github_handle %>" target="_blank"><img src="assets/GitHub_Invertocat_Logo.svg" alt="Github"></a>
                        <a class="logo" href="<%- website %>" target="_blank"><img src="assets/free-instagram-86-433323.webp" alt="instagram"></a>
                        <a class="logo" href="mailto:" target="_blank"><img src="assets/free-gmail-32-761667.png" alt="gmail"></a>
                      </div>
                </div>

                <!-- Back of card -->
                <div class="card-back">

                    <div class="info">
                        <%- bio %>
                        <pre><%- custom %></pre>
                        Tel: 06 00000000
                    </div>
                    
                </div>


                <button class="turn-button" role="button"><img src="/assets/right-arrow.png" class="turn-icon"></button>
            </div>
        </div>
    </main>

    <%- include('./partials/foot') %>